<div class="container text-center">
  <h3 class="text-center my-5">Payment Detail #<%= @payment.id %></h3>

  <p>Name : <%= @payment.name %></p>
  <p>Email : <%= @payment.email %></p>
  <p>Company : <%= @payment.company %></p>
  <p>Invoice ID : <%= @payment.invoice_number %></p>
  <p>Invoice Date : <%= @payment.invoice_date.strftime("%d %B %Y") %></p>
  <p>Amount : $<%= @payment.amount %></p>
</div>